<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"

       xmlns:task="http://www.springframework.org/schema/task"
       xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.2.xsd
      http://www.springframework.org/schema/tx
      http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
      http://www.springframework.org/schema/aop
      http://www.springframework.org/schema/aop/spring-aop-3.2.xsd
        http://www.springframework.org/schema/mvc
      http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd
      http://www.springframework.org/schema/task
      http://www.springframework.org/schema/task/spring-task-3.2.xsd">


    <!-- 自动扫描的包名，如果有多个包，请使用逗号隔开 -->
    <!--<context:component-scan base-package="com.*"/>-->

    <!-- 默认的注解映射的支持 -->
    <mvc:annotation-driven/>
    <!-- 启动对aspectj的支持 -->
    <!--<aop:aspectj-autoproxy/>-->
    <!-- expose-proxy 暴露代理 -->
    <!--<aop:aspectj-autoproxy expose-proxy="true"/>  -->


    <!-- 自动搜索指定包及其子包下的所有Bean类 -->
    <context:component-scan base-package="com.*"/>

    <!--7 aspectj支持自动代理实现AOP功能 -->
    <aop:aspectj-autoproxy proxy-target-class="true" expose-proxy="true"></aop:aspectj-autoproxy>

    <!--<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">-->
        <!--<property name="prefix">-->
            <!--<value>/WEB-INF/pages/</value>-->
        <!--</property>-->
        <!--<property name="suffix">-->
            <!--<value>.html</value>-->
        <!--</property>-->
    <!--</bean>-->
    <!--<import resource="classpath*:/hsf-provider.xml" />-->
    <import resource="classpath*:/mysql.xml"/>

</beans>

